page-cart {
  .coreWrapper{
    background: #F8F8F9;
  }

  .emptyLabel{
    text-align: center;
    font-size: 12px;
    margin-top: 45vh;
    font-family: 'Nunito Sans', sans-serif;
    font-style: italic;
    font-weight: 200;
    color: #E5989B;
  }

  .topContent{
    background: white;
    display: block;
    position: absolute;
    z-index: 9000;
    height: 70px;
    width: 100%;

    h1{
      font-size: 18px;
      text-align: center;
      color: #22223B;
      font-weight: 500;
      font-family: 'Raleway', sans-serif;
      margin-top: 10%;
      animation: fadein 0.5s;
    }

    .homeLogo{
      font-family: 'Gloria Hallelujah', cursive;
      font-weight: bolder;
      font-size: 21px;
      width: 100%;
      color: #4A4E69;
      margin-top: 5.5%;
      letter-spacing: 1px;
    }

    .topIcon{
      position: absolute;
      margin: 6%;
      font-size: 28px;
      color:#4A4E69;
      padding-top: 0.5%;
    }

    .topCloseIcon{
      font-size: 18px;
      margin-top: -8%;
      position: absolute;
    }

    .rightIcon{
      margin-left:87%;
      padding-top: 0%;
    }
  }

  .shoppingMenu{
    margin-top: 12%;
    padding: 5%;
    padding-bottom: 20vh;

    .menuItem{
      width: 100%;
      background: #fff;
      height: 170px;
      display: inline-flex;
      margin-top: 5%;
      overflow: hidden;

      .cartImg{
        width: 50%;
        object-fit: cover;
        height: 100%;
      }

      .rightSideContent{
        width: 50%;
        height: 100%;
        text-align: center;
        padding: 7%;

        .itemCartName{
          font-size: 22px;
          color: #C9ADA7;
          font-weight: 300;
          white-space: nowrap;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;

          font-family: 'Nunito Sans', sans-serif;
        }

        .itemCartPrice{
          color: #8e8e8e;
          font-size: 16px;
          font-weight: 400;
          margin-top: 10%;

          font-family: 'Nunito Sans', sans-serif;
        }

        .quanitityGrid{
          width: 100px;
          height: 30px;
          display: inline-flex;
          margin-top: 5%;
          border: 1px solid #BFACAA;


          .box{
            width: 33%;
            text-align: center;
            padding-top: 5%;
            color: #BFACAA;
            font-weight: 400;
            font-family: 'Nunito Sans', sans-serif;
          }

          .boxa{
            border-right: 1px solid #BFACAA;
          }

          .boxc{
            border-left: 1px solid #BFACAA;
          }
        }
      }
    }
  }

  .subFooter{
    display: block;
    width: 100%;
    padding: 6%;
    margin-top: 75.5vh;
    position: sticky;
    background: #fff;
    text-align: center;
    color: black;
    z-index: 9000;
    border-top: 1px solid #e8e8e8;

    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
    letter-spacing: 2px;

    transition: all 4s ease-in-out;

    span{
      font-weight: 600;
    }
  }

  .subFooter2{
    display: block;
    width: 100%;
    padding: 3%;
    margin-top: 0vh;
    position: sticky !important;
    background: #fff;
    text-align: center;
    color: #8e8e8e;
    z-index: 9000;
    border-top: 1px solid #e8e8e8;

    font-weight: 300;
    font-family: 'Nunito Sans', sans-serif;
    font-size: 12px;

    span{
      color: #457B9D;
      font-weight: 600;
    }
  }

  .cartSpinner{
    text-align: center;
    margin-top: 40vh;
    width: 100%;
    position: absolute;
  }






  .addItemFooter{
    .toolbar{
      padding: 8% !important;
    }
    .toolbar-background{
      background: #C9ADA7 !important;
      border: none !important;
    }

    .toolbar-title{
      color: #fff !important;
      font-weight: 400 !important;
      font-family: 'Nunito Sans', sans-serif !important;
    }

    .iconFooter{
      font-size: 28px;
    }
  }

}
