
<div class="topContent">
    <h1>Shopping Cart</h1>
    <i class="rightIcon topCloseIcon topIcon icon-close" (click)="closeCart()"></i>
</div>


<ion-content class="coreWrapper">
  <ion-spinner name="bubbles" *ngIf="cartLoading" class="cartSpinner"></ion-spinner>
  <div class="emptyLabel" *ngIf="emptyCart">Your cart is empty</div>

  <div class="shoppingMenu" >
    <div class="menuItem" *ngFor="let cartItem of cartItems" >
      <img [src]="cartItem.img" class="cartImg"/>
      <div class="rightSideContent">
        <h1 class="itemCartName">{{ cartItem.item }}</h1>
        <h2 class="itemCartPrice">${{ cartItem.amount }}</h2>

        <div class="quanitityGrid">
          <div class="box boxa" (click)="itemCardDown(cartItem)"><i class="icon icon-minus"></i></div>
          <div class="box">{{ cartItem.quanitity }}</div>
          <div class="box boxc" (click)="itemCardUp(cartItem)"><i class="icon icon-plus"></i></div>
        </div>

      </div>
    </div>
  </div>

</ion-content>


<div class="subFooter" *ngIf="totalPrice > 0">
  Total ({{cartCount}}) : <span>${{totalPrice}}</span>
</div>

<ion-footer class="addItemFooter" (click)="placeOrder()">
  <ion-toolbar>
    <ion-title><i class="iconFooter icon-tick"></i></ion-title>
  </ion-toolbar>
</ion-footer>
