
<div class="topContent">

  <i class="leftIcon topIcon backIcoHome icon-back" (click)="goToHomeMenu()" *ngIf="itemShowing"></i>
  <i class="leftIcon topIcon moreIconShuffle icon-more" (click)="morePopover($event)" *ngIf="!itemShowing"></i>
  <i class="leftIcon topIcon icon-cart" *ngIf="!itemShowing" (click)="viewCart()"></i>
  <i class="rightIcon topIcon icon-search" (click)="searchToggle()" *ngIf="!showSearch"></i>
  <i class="rightIcon topIcon topCloseIcon icon-close" (click)="searchToggle()" *ngIf="showSearch"></i>
  <h1 class="homeLogo" *ngIf="!itemShowing">Munch</h1>
  <h1 *ngIf="itemShowing">Detail</h1>

  <input placeholder="Search snacks..." class="coreSearch"  *ngIf="showSearch"/>

  <ul *ngIf="!showSearch">
    <li (click)="menuNumber(0)" [ngClass]="{ 'active': this.menuValue == 0}">Recommended</li>
    <li (click)="menuNumber(1)" [ngClass]="{ 'active': this.menuValue == 1}">Chocolate</li>
    <li (click)="menuNumber(2)" [ngClass]="{ 'active': this.menuValue == 2}">Candy</li>
    <!-- <li (click)="menuNumber(3)" [ngClass]="{ 'active': this.menuValue == 3}">Ice Cream</li> -->
    <li (click)="menuNumber(4)" [ngClass]="{ 'active': this.menuValue == 4}">Chips</li>
    <li (click)="menuNumber(5)" [ngClass]="{ 'active': this.menuValue == 5}">Jerky n' Nuts</li>
    <li (click)="menuNumber(6)" [ngClass]="{ 'active': this.menuValue == 6}">Drinks</li>
    <li class="spaceHere"></li>
  </ul>
</div>

<ion-content class="coreWrapper">
  <div class="oneItem" *ngIf="itemShowing">
    <div class="itemImageWrapper">
      <img class="itemImage" [src]="cardImg" />
    </div>

    <div class="itemDetailsWrapper">
      <h1 class="itemName">{{ cardName }}</h1>
      <h2 class="itemWeight">{{cardWeight}}g</h2>
      <h3 class="itemCost">${{ adjustedPrice }}</h3>
      <div class="quanitityGrid">
        <div class="box boxa" (click)="itemCountDown()"><i class="icon icon-minus"></i></div>
        <div class="box">{{ itemQuantity }}</div>
        <div class="box boxc" (click)="itemCountUp()"><i class="icon icon-plus"></i></div>
      </div>
      <hr class="bottomSlash" />

      <p class="itemDescription">{{ cardDesc }}</p>
    </div>
  </div>


  <div class="homeItems" *ngIf="!itemShowing">

    <ion-spinner class="ionSpinner" *ngIf="!loading" name="bubbles"></ion-spinner>

    <div class="cardGrid" *ngIf="this.menuValue == 0 && loading">

      <div class="card" *ngFor="let card of cards" (click)="showItemDetails(card)">
        <img class="snackImg" [src]="card.imgurl" />
        <div class="bottomInfo">
          <h2 class="snackName">{{card.name}}</h2>
          <h2 class="snackPrice">${{card.price}}</h2>
        </div>
      </div>

    </div>
  </div>

</ion-content>

<ion-footer class="addItemFooter" *ngIf="itemShowing" (click)="addItemtoCart()">
  <ion-toolbar>
    <ion-title><i class="iconFooter icon-plus"></i></ion-title>
  </ion-toolbar>
</ion-footer>
