page-home {

  .coreWrapper{
    background: #F8F8F9;
  }

  .topContent{
    background: white;
    display: block;
    position: absolute;
    z-index: 9000;
    height: 140px;
    width: 100%;

    h1{
      font-size: 18px;
      text-align: center;
      color: #22223B;
      font-weight: 500;
      font-family: 'Raleway', sans-serif;
      padding-top: 5%;
      animation: fadein 0.5s;
      width: 20% !important;
      display: block;
      margin-left: auto;
      margin-right: auto;

    }

    .homeLogo{
      font-family: 'Gloria Hallelujah', cursive;
      font-weight: bolder;
      font-size: 21px;
      width: 100%;
      color: #4A4E69;
      margin-top: 5%;
      letter-spacing: 1px;
    }

    .topIcon{
      position: absolute;
      margin: 6%;
      font-size: 28px;
      color:#BFACAA;
      padding-top: 4.2%;
      margin-left: 20%;
    }

    .backIcoHome{
      margin-left: 6%;
    }

    .moreIconShuffle{
        margin-left: 6%;
    }

    .topCloseIcon{
      font-size: 21px;
      margin: 8%;
    }

    .rightIcon{
      margin-left:87%;
      padding-top: 4%;
      color: #E7CEE3;
    }

    ul{
      list-style: none;
      margin-top: 7%;
      width: 100vw;
      overflow-x: scroll;
      overflow-y: hidden;
      display: flex;
      -webkit-overflow-scrolling:touch;

      li{
        display: block;
        width: 40vw;
        text-align: center;
        white-space: nowrap;
        color: #C9ADA7;
        font-weight: 400;
        margin-right: 5%;
        font-family: 'Nunito Sans', sans-serif;
        border: 2px solid #F2E9E4;
        padding: 2%;
        padding-left: 8%;
        padding-right: 8%;
        cursor: pointer;
        border-radius: 20px;
      }

      .active{
        border-color: #C9ADA7;
        cursor: normal;
      }

      .spaceHere{
        border: none;
      }
    }

    ul::-webkit-scrollbar{
        width: 0px !important;
        background: transparent !important;
    }

    .coreSearch{
      width: 90%;
      padding: 3%;
      margin-left: 5%;
      margin-top: 5%;
      border-radius: 5px;
      border: 1px solid #C9ADA7;

      font-family: 'Nunito Sans', sans-serif;
    }

    .coreSearch::placeholder{
      color: #9A8C98;
    }
  }


  .ionSpinner{
      text-align: center;
      margin-top: 50vh;
      width: 100%;
  }


  .cardGrid{
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      overflow: scroll;
      margin-top: 140px;
      padding-top: 2%;
      padding-bottom: 5%;

      .card{
        background: #fff;
        width: 46%;
        height: 260px;
        margin: 2%;
        overflow: hidden;
        animation: fadein 0.5s;

        .snackImg{
          width: 100%;
          height: 190px;
          object-fit: cover;
          background: #fff;
          display: block;
        }


        .bottomInfo{
          height: 35%;
          width: 100%;
          display: block;
          overflow: hidden;
          margin-top: -3%;
          text-align: center;
          font-family: 'Nunito Sans', sans-serif;

          .snackName{
            font-size: 18px;
            color: #C9ADA7;
            width: 100%;
            padding-left: 5%;
            padding-right: 5%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            font-weight: 400;
          }

          .snackPrice{
            color: #9A8C98;
            font-size: 12px;
            margin-top: -1%;
            font-weight: 400;
          }
        }
      }
  }

  .oneItem{
    background: #F8F8F9;
    width: 100%;
    display: block;
    margin-top: 34%;
    font-family: 'Nunito Sans', sans-serif !important;
    padding: 10%;

    .itemImageWrapper{

      .itemImage{
        width: 100%;
        height: 100%;
        background: #fff;
        object-fit: cover;
      }
    }

    .itemDetailsWrapper{
        padding: 8%;
        padding-top: 2%;
        height: 50vh;
        background: #fff;
    }

    .itemName{
      font-weight: 200;
      color: #4A4E69;
    }

    .itemWeight{
      font-size: 12px;
      margin-top: 2%;
      font-weight: 600;
      color: #22223B;
    }

    .itemCost{
      float: right;
      margin-top: -22%;
      font-size: 16px;
      font-weight: 600;
      color: #22223B;

    }

    .quanitityGrid{
      width: 100px;
      height: 30px;
      display: inline-flex;
      float: right;
      margin-top: -11%;
      border: 1px solid #BFACAA;


      .box{
        width: 33%;
        text-align: center;
        padding-top: 5%;
        color: #BFACAA;
        font-family: 'Nunito Sans', sans-serif;
      }

      .boxa{
        border-right: 1px solid #BFACAA;
      }

      .boxc{
        border-left: 1px solid #BFACAA;
      }
    }

    .bottomSlash{
      margin-top: 10%;
      height: 2px;
      display: block;
      background: #e8e8e8;
      border-radius: 5px;
    }

    .itemDescription{
      margin-top: 10%;
      font-weight: 400;
      letter-spacing: 1px;
      line-height: 25px;
    }
  }

  .addItemFooter{
    .toolbar{
      padding: 8% !important;
    }
    .toolbar-background{
      background: #C9ADA7 !important;
      border: none !important;
    }

    .toolbar-title{
      color: #fff !important;
      font-weight: 400 !important;
      font-family: 'Nunito Sans', sans-serif !important;
    }

    .iconFooter{
      font-size: 28px;
    }
  }

  @keyframes fadein {
      from { opacity: 0; }
      to   { opacity: 1; }
  }
}
