
<div class="topContent">

  <i class="leftIcon topIcon backIcoHome icon-back" (click)="goToHomeMenu()" *ngIf="itemShowing"></i>
  <i class="leftIcon topIcon moreIconShuffle icon-more" (click)="morePopover($event)" *ngIf="!itemShowing"></i>
  <i class="leftIcon topIcon icon-cart" *ngIf="!itemShowing" (click)="viewCart()"></i>
  <i class="rightIcon topIcon icon-search" (click)="searchToggle()" *ngIf="!showSearch && !itemShowing"></i>
  <i class="rightIcon topIcon topCloseIcon icon-close" (click)="searchToggle()" *ngIf="showSearch"></i>
  <h1 class="homeLogo" *ngIf="!itemShowing">Munch</h1>
  <h1 *ngIf="itemShowing">Detail</h1>

  <form action=".">
  <input placeholder="Search snacks..." class="coreSearch"  *ngIf="showSearch" [(ngModel)]="searchItems" type="search"/>
  </form>

  <ul *ngIf="!showSearch">
    <!-- <li (click)="selectCat(0)" [ngClass]="{ 'active': this.selectedCat == 0}">Recommended</li> -->
    <li (click)="selectCat('chocolate')" [ngClass]="{ 'active': this.selectedCat == 'chocolate'}">Chocolate</li>
    <li (click)="selectCat('candy')" [ngClass]="{ 'active': this.selectedCat == 'candy'}">Candy</li>
    <!-- <li (click)="menuNumber(3)" [ngClass]="{ 'active': this.menuValue == 3}">Ice Cream</li> -->
    <li (click)="selectCat('chips')" [ngClass]="{ 'active': this.selectedCat == 'chips'}">Chips</li>
    <!-- <li (click)="selectCat(5)" [ngClass]="{ 'active': this.selectedCat == 5}">Jerky n' Nuts</li> -->
    <li (click)="selectCat('drinks')" [ngClass]="{ 'active': this.selectedCat == 'drinks'}">Drinks</li>
    <li (click)="selectCat('bundle')" [ngClass]="{ 'active': this.selectedCat == 'bundle'}">Bundles</li>
    <li class="spaceHere"></li>
  </ul>
</div>

<div class="snackTimeBanner" *ngIf="snackTime">
   🍫🍪🍩&nbsp;&nbsp; 11pm- 2am everything is 5% off &nbsp;&nbsp;🍩🍪🍫
</div>

<ion-content class="coreWrapper" [ngClass]="{ 'bannerPush': snackTime }">
  <div class="oneItem" *ngIf="itemShowing">
    <div class="itemImageWrapper">
      <img class="itemImage" [src]="cardImg" />
    </div>

    <div class="itemDetailsWrapper">
      <h1 class="itemName" id="myButton">{{cardName}}</h1>
      <h2 class="itemWeight">{{cardWeight}}<label *ngIf="cardCat != 'drinks'">g</label><label *ngIf="cardCat == 'drinks'">ml</label></h2>
      <h3 class="itemCost">${{ adjustedPrice }}</h3>
      <div class="quanitityGrid">
        <div class="box boxa" (click)="itemCountDown()"><i class="icon icon-minus"></i></div>
        <div class="box">{{ itemQuantity }}</div>
        <div class="box boxc" (click)="itemCountUp()"><i class="icon icon-plus"></i></div>
      </div>
      <hr class="bottomSlash" />

      <p class="itemDescription">{{ cardDesc }}</p>
    </div>
  </div>


  <div class="homeItems" *ngIf="!itemShowing">

    <ion-spinner class="ionSpinner" *ngIf="!loading" name="bubbles"></ion-spinner>

    <div class="cardGrid" *ngIf="showSearch && loading" id="snackCard">
      <div class="card" *ngFor="let card of cards | filter:searchItems"  (click)="showItemDetails(card)">
        <img class="snackImg" [src]="card.imgurl" />
        <div class="bottomInfo">
          <h2 class="snackName">{{card.name}}</h2>
          <h2 class="snackPrice">${{card.price}} &bull; {{card.weight}}<label *ngIf="card.category != 'drinks'">g</label><label *ngIf="card.category == 'drinks'">ml</label></h2>
        </div>
      </div>
    </div>

    <div class="cardGrid" *ngIf="!showSearch && loading" id="snackCard">
      <div class="card" *ngFor="let card of cards"  (click)="showItemDetails(card)" [hidden]="card.category != selectedCat" >
        <img class="snackImg" [src]="card.imgurl" />
        <div class="bottomInfo">
          <h2 class="snackName">{{card.name}}</h2>
          <h2 class="snackPrice">${{card.price}} &bull; {{card.weight}}<label *ngIf="card.category != 'drinks'">g</label><label *ngIf="card.category == 'drinks'">ml</label></h2>
        </div>
      </div>
    </div>

  </div>

</ion-content>

<ion-footer class="addItemFooter" *ngIf="itemShowing" (click)="addItemtoCart()">
  <ion-toolbar>
    <ion-title><i class="iconFooter icon-plus"></i></ion-title>
  </ion-toolbar>
</ion-footer>
