

<div class="topContent">
    <h1 *ngIf="!paymentMode">Admin Area</h1>
    <i class="rightIcon topCloseIcon topIcon icon-close" (click)="goHome()"></i>
</div>

<ion-content padding>
  <div *ngIf="!addSnack">
    <button class="snackAdd" (click)="snackAdd()">Add Snack</button>

    <ion-spinner name="bubbles" *ngIf="loader" class="adminSpinner"></ion-spinner>
    <h1 class="noOrders" *ngIf="noOrders">No New Orders</h1>

    <div *ngIf="!loader && !noOrders">
      <h1 class="adminTitleOrder">Customer Orders</h1>

      <div class="shoppingMenu" *ngFor="let order of orders; index as i" [hidden]="order.alive == false">
        <h2 class="orderID">Order #{{i}}</h2>
        <ul>
          <li>Order Time: <b>{{ order.time }}</b></li>
          <li>Order Address: <b>{{ order.address }}</b></li>
          <li>Order From: <b>{{ order.username }}</b></li>
          <li>Total Cost: <b>${{ order.totalCost }}</b></li>
        </ul>

        <div class="optionsMenu" *ngIf="!order.approved">
            <div class="side" (click)="deleteOrder(order)">
              <i class="icon icon-close"></i>
            </div>
            <div class="side right" (click)="approveOrder(order)">
              <i class="icon icon-tick"></i>
            </div>
        </div>

        <div class="finishOrderMenu" *ngIf="order.approved">
            COMPLETE DELIVERY
        </div>

        <ul class="completeOptions" *ngIf="order.approved">
          <li style="background: #182C61;">Call Driver</li>
          <li style="background: #FEA47F" (click)="cancelOrder(order)">Cancel Order</li>
          <li style="background: #FD7272;">Delete Order</li>
        </ul>

        <div class="menuItem">
          <img [src]="deliverie.imgurl" class="cartImg"  *ngFor="let deliverie of deliveries"  [hidden]="deliverie.time != order.time"/>
          <!-- <div class="rightSideContent">
            <h1 class="itemCartName">{{ deliverie.item }}</h1>
            <h2 class="itemCartPrice">${{ deliverie.price }}</h2>
          </div> -->
        </div>

      </div>
    </div>
  </div>
  <div *ngIf="addSnack">
    <h1>Add Snack</h1>
    <form (ngSubmit)="addItem()">
      <ion-item>
        <ion-label floating>Name</ion-label>
        <ion-input type="text" [(ngModel)]="item.name" name="name"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Category</ion-label>
        <ion-select [(ngModel)]="item.category" name="category">
          <ion-option value="chocolate">Chocolate</ion-option>
          <ion-option value="candy">Candy</ion-option>
          <ion-option value="chips">Chips</ion-option>
          <ion-option value="jerkyn'nuts">Jerky n' Nuts</ion-option>
          <ion-option value="drinks">Drinks</ion-option>
          <ion-option value="bundle">Bundles</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label floating>Price</ion-label>
        <ion-input [(ngModel)]="item.price" name="price" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Weight</ion-label>
        <ion-input [(ngModel)]="item.weight" name="weight" type="number"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label floating>Description</ion-label>
        <ion-textarea [(ngModel)]="item.desc" name="desc"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-label floating>ImgUrl</ion-label>
        <ion-input [(ngModel)]="item.imgurl" name="imgurl"></ion-input>
      </ion-item>
      <button ion-button type="submit" block>Add Item</button>
      <button ion-button (click)="noSnackAdd()" block>Back</button>
    </form>
  </div>

</ion-content>
